* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.places {
  display: flex;
  width: 100%;
  height: 100%;
}

.place {
  width: 300px;
  background-color: rgb(247, 247, 247);
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(139, 139, 139, 0.555);
  border-radius: 4px;
}

.place img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.place .offer {
  display: flex;
  justify-content: space-between;
}

.offer div {
  background-color: black;
  color: white;
  padding: 2px 5px;
}
