# gitignore is used to not add the files and folder

# this comment is added by Rabiya

Practice/static_type/.mypy_cache
.pytest_cache
.vscode
__pycache__
images
.ipynb_checkpoints
venv
!backend/django/ecommerce-dennis-ivy/static/images
*/htmlcov
.coverage